html,
body {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
  max-width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.website-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 900px 800px 1000px 50px;
  justify-content: center;
}

header {
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.0625rem solid #333;
}
header ion-icon {
  font-size: 30px;
  color: #333;
}
header .logo-container .dell-logo {
  max-width: 250px;
  width: 100%;
}
header .search-icon {
  font-size: 20px;
}
header .sandwich-logo {
  display: flex;
  align-items: center;
}
header .sandwich-logo img {
  margin-top: 5px;
}
header .sandwich-icon {
  font-size: 30px;
  margin-left: 20px;
  margin-right: 20px;
}
header .input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  background-color: white;
  border: 0.0625rem solid #333;
  border-radius: 3px;
  width: 100%;
  max-width: 520px;
}
header .input-container input {
  border: none;
  width: 90%;
}
header .input-container .search-icon {
  background: white;
}
header .misc-container {
  display: flex;
  justify-content: space-between;
}
header .misc-container .icon {
  margin: 0rem 9.6px;
}

.main-container {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-container * {
  display: flex;
  justify-content: center;
}
.main-container img {
  max-width: 700px;
  width: 100%;
}
.main-container .buy-btn-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.main-container .buy-btn a {
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  padding: 14px 12px;
  border-radius: 0.1875rem;
}
.main-container .right a {
  background-color: #fff;
  color: #006699;
  border: 0.125rem solid #006699;
}
.main-container .left a {
  background-color: #006699;
  color: #fff;
  border: 0.125rem solid #006699;
}
.main-container .buy-btn a:hover {
  box-shadow: 0.0625rem 0.125rem 0.3125rem #333;
}

#modal-container {
  display: none;
}
#modal-container .modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.7);
}
#modal-container .modal .modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  min-width: 320px;
  max-width: 600px;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
#modal-container .modal .modal-content .modal-label {
  align-items: center;
  margin-bottom: 20px;
  text-align: center;
}
#modal-container .modal .modal-content .modal-label h2 {
  font-size: 24px;
  font-weight: 700;
  color: #333;
  margin: 0;
}
#modal-container .modal .modal-content .fechar {
  font-size: 50px;
  color: #333;
  cursor: pointer;
}
#modal-container .modal .modal-content .fechar:hover {
  color: #006699;
}
#modal-container .modal .modal-content table {
  width: 100%;
  border-collapse: collapse;
}
#modal-container .modal .modal-content table th,
#modal-container .modal .modal-content table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #fff;
}
#modal-container .modal .modal-content table th:last-child,
#modal-container .modal .modal-content table td:last-child {
  text-align: center;
}
#modal-container .modal .modal-content table thead th {
  font-weight: 700;
  color: #333;
}
#modal-container .modal .modal-content table tbody tr:hover {
  background-color: #006699;
  color: #fff;
}
#modal-container .modal .modal-content table tbody tr:hover a {
  color: #fff;
}
#modal-container .modal .modal-content table tbody tr td a {
  color: #006699;
  text-decoration: none;
  transition: color 0.2s;
}
#modal-container .modal .modal-content table tbody tr td a:hover {
  color: #fff;
}

.banner-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-container .banner-block {
  display: flex;
  border-radius: 0.3125rem;
  background-color: #006699;
  box-shadow: 0.0625rem 0.125rem 0.3125rem #333;
}
.banner-container img {
  max-width: 900px;
  width: 100%;
}
.banner-container .about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
  background-color: #006699;
}
.banner-container .about-container h3 {
  color: #fff;
  font-weight: 300;
}
.banner-container .about-container .about-btn a {
  color: #006699;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 0.1875rem;
}

.contact-container {
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .contact-container {
    max-width: 769px;
    padding: 0 20px;
  }
}
.contact-container .contact-block {
  border: 2px solid #006699;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0;
}
.contact-container .h1-container {
  text-align: center;
  margin-bottom: 20px;
}
.contact-container .h1-container h1 {
  color: #006699;
  font-size: 2em;
  font-weight: bold;
}
.contact-container fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
.contact-container fieldset .block {
  margin-bottom: 10px;
}
.contact-container fieldset .block label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  color: #333;
}
.contact-container fieldset .block .input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #333;
  font-size: 1em;
  color: #333;
  box-sizing: border-box;
}
.contact-container fieldset .block .input:focus {
  outline: none;
  border-color: #0277bd;
}
.contact-container fieldset .block .radio-block,
.contact-container fieldset .block .checkbox-block {
  display: inline-block;
  margin-left: 10px;
  margin-right: 20px;
}
.contact-container fieldset .block .radio-block input[type=radio],
.contact-container fieldset .block .radio-block input[type=checkbox],
.contact-container fieldset .block .checkbox-block input[type=radio],
.contact-container fieldset .block .checkbox-block input[type=checkbox] {
  margin-right: 5px;
}
.contact-container fieldset .block .radio-block label,
.contact-container fieldset .block .checkbox-block label {
  display: inline-block;
  color: #333;
  margin-right: 10px;
  margin-bottom: 5px;
}
.contact-container fieldset .file label[for=myfile] {
  display: inline-block;
  padding: 12px 20px;
  background-color: #0277bd;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  height: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.contact-container fieldset .file label[for=myfile]:hover {
  background-color: #004e8c;
}
.contact-container fieldset .file input[type=file] {
  display: none;
}
.contact-container fieldset .message label {
  display: block;
  margin-bottom: 5px;
  color: #333;
  font-weight: bold;
}
.contact-container fieldset .message textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #333;
  box-sizing: border-box;
  font-size: 1em;
  color: #333;
}
.contact-container fieldset .message textarea:focus {
  outline: none;
  border-color: #0277bd;
}
.contact-container fieldset .send-btn {
  margin-top: 10px;
}
.contact-container fieldset .send-btn input[type=submit] {
  background-color: #0277bd;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  font-weight: bold;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.contact-container fieldset .send-btn input[type=submit]:hover {
  background-color: #006699;
}

.footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-top: 0.0625rem solid #333;
}
.footer-container h4 {
  font-weight: 300;
}

@media (max-width: 1200px) {
  .banner-block {
    flex-direction: column;
    padding-bottom: 40px;
  }
}
@media (max-width: 1050px) {
  header .person-icon {
    font-size: 22px;
    margin-left: 10px;
    margin-right: 5px;
  }
  header .cart-icon {
    font-size: 22px;
    margin-left: 10px;
    margin-right: 5px;
  }
}
@media (max-width: 769px) {
  header .logo-container .dell-logo {
    max-width: 0rem;
    width: 100%;
  }
  header .person-icon {
    font-size: 15px;
    margin-left: 10px;
    margin-right: 5px;
  }
  header .cart-icon {
    font-size: 15px;
    margin-left: 10px;
    margin-right: 5px;
  }
}
@media (max-width: 556px) {
  header .misc-container {
    display: flex;
    justify-content: space-between;
  }
  header .misc-container .icon {
    font-size: 22.4px;
  }
  .banner-container {
    margin: 15px;
    text-align: center;
  }
  .main-container {
    margin: 15px;
    text-align: center;
  }
}
@media (max-width: 450px) {
  .website-container {
    grid-template-rows: 50px 700px 500px 900px 48px;
  }
  footer {
    margin-top: 8px;
  }
}

/*# sourceMappingURL=style.css.map */
