html,
body {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
  max-width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --grey: grey;
  --darkblue: #00447c;
  --lightblue: #0075d5;
}

.website-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 900px 800px 1000px 50px;
  justify-content: center;
}

header {
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.0625rem solid var(--grey);
}
header ion-icon {
  font-size: 30px;
  color: var(--grey);
}
header .logo-container .dell-logo {
  max-width: 250px;
  width: 100%;
}
header .search-icon {
  font-size: 20px;
}
header .sandwich-logo {
  display: flex;
  align-items: center;
}
header .sandwich-logo img {
  margin-top: 5px;
}
header .sandwich-icon {
  font-size: 30px;
  margin-left: 20px;
  margin-right: 20px;
}
header .input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  background-color: white;
  border: 0.0625rem solid var(--grey);
  border-radius: 3px;
  width: 100%;
  max-width: 520px;
}
header .input-container input {
  border: none;
  width: 90%;
}
header .input-container .search-icon {
  background: white;
}
header .misc-container {
  display: flex;
  justify-content: space-between;
}
header .misc-container .icon {
  margin: 0rem 9.6px;
}

.main-container {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-container * {
  display: flex;
  justify-content: center;
}
.main-container img {
  max-width: 700px;
  width: 100%;
}
.main-container .buy-btn-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.main-container .buy-btn a {
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  padding: 14px 12px;
  border-radius: 0.1875rem;
}
.main-container .right a {
  background-color: #fff;
  color: var(--darkblue);
  border: 0.125rem solid var(--darkblue);
}
.main-container .left a {
  background-color: var(--darkblue);
  color: #fff;
  border: 0.125rem solid var(--darkblue);
}
.main-container .buy-btn a:hover {
  box-shadow: 0.0625rem 0.125rem 0.3125rem #333;
}

#modal-container {
  display: none;
}
#modal-container .modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
#modal-container .modal .modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fefefe;
  margin: 10% auto;
  padding: 1.25rem;
  border: 0.0625rem solid #888;
  width: 80%;
}
#modal-container .modal .modal-content .table {
  text-align: center;
  border: 0.0625rem solid #00447c;
  border-radius: 0.3125rem;
}
#modal-container .modal .modal-content .table .thead {
  border: 0.0625rem solid #00447c;
}
#modal-container .modal .modal-content .modal-label {
  text-align: center;
  color: #00447c;
  border-radius: 0.3125rem;
  border: 0.0625rem solid var(--darkblue);
  margin-bottom: 0.3125rem;
}
#modal-container .modal .modal-content .fechar {
  color: #aaa;
  float: right;
  font-size: 1.75rem;
  font-weight: bold;
}
#modal-container .modal .modal-content .fechar:hover,
#modal-container .modal .modal-content .fechar:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.banner-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-container .banner-block {
  display: flex;
  border-radius: 0.3125rem;
  background-color: var(--darkblue);
  box-shadow: 0.0625rem 0.125rem 0.3125rem #333;
}
.banner-container img {
  max-width: 900px;
  width: 100%;
}
.banner-container .about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
  background-color: var(--darkblue);
}
.banner-container .about-container h3 {
  color: #fff;
  font-weight: 300;
}
.banner-container .about-container .about-btn a {
  color: var(--darkblue);
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 0.1875rem;
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contact-container .contact-block {
  max-width: 43.75rem;
  width: 100%;
  background-color: var(--darkblue);
  box-shadow: 0.0625rem 0.125rem 0.3125rem #333;
  border-radius: 0.3125rem;
}
.contact-container .contact-block fieldset {
  border: none;
}
.contact-container .contact-block .h1-container {
  margin-bottom: 20px;
  width: 100%;
}
.contact-container .contact-block .h1-container h1 {
  text-align: center;
  color: #fff;
  font-weight: 300;
}
.contact-container .contact-block .block {
  margin-bottom: 30px;
}
.contact-container .contact-block .file {
  color: #fff;
  display: flex;
  flex-direction: column;
}
.contact-container .contact-block .input {
  border: vertical;
  font-size: 20px;
  width: 100%;
  min-height: 45px;
  height: 100%;
  box-sizing: border-box;
}
.contact-container .contact-block .message {
  resize: none;
  min-height: 100px;
  font-family: sans-serif;
}
.contact-container .contact-block .name {
  min-height: 45px;
}
.contact-container .contact-block .contact-label {
  font-weight: 400;
  color: #fff;
}
.contact-container .contact-block .send-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 0.1875rem;
  text-align: center;
  background-color: #fff;
  border: 0.0625rem solid var(--darkblue);
}
.contact-container .contact-block .send-btn input {
  background: none;
  border: none;
  color: var(--darkblue);
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}

.footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-top: 0.0625rem solid var(--grey);
}
.footer-container h4 {
  font-weight: 300;
}

@media (max-width: 1150px) {
  .banner-block {
    flex-direction: column;
    padding-bottom: 40px;
  }
}
@media (max-width: 1050px) {
  header .person-icon {
    font-size: 22px;
    margin-left: 10px;
    margin-right: 5px;
  }
  header .cart-icon {
    font-size: 22px;
    margin-left: 10px;
    margin-right: 5px;
  }
}
@media (max-width: 769px) {
  header .logo-container .dell-logo {
    max-width: 0rem;
    width: 100%;
  }
  header .person-icon {
    font-size: 15px;
    margin-left: 10px;
    margin-right: 5px;
  }
  header .cart-icon {
    font-size: 15px;
    margin-left: 10px;
    margin-right: 5px;
  }
  .contact-container .contact-block {
    max-width: 400px;
  }
}
@media (max-width: 556px) {
  header .misc-container {
    display: flex;
    justify-content: space-between;
  }
  header .misc-container .icon {
    font-size: 22.4px;
  }
  .banner-container {
    margin: 15px;
    text-align: center;
  }
  .contact-container {
    margin: 15px;
  }
  .contact-container .contact-block {
    padding: 5px;
    max-width: 400px;
  }
  .contact-container .h1-container {
    justify-self: center;
  }
  .main-container {
    margin: 15px;
    text-align: center;
  }
}
@media (max-width: 450px) {
  .website-container {
    grid-template-rows: 50px 700px 500px 900px 48px;
  }
  footer {
    margin-top: 8px;
  }
}
.login-body {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}
.login-body .login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-body .login-container .login-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--darkblue);
  box-shadow: 0.0625rem 0.125rem 0.3125rem #333;
  border-radius: 0.3125rem;
  width: 600px;
}
.login-body .login-container .login-block .login-title {
  justify-self: start;
  margin: 0 0.8rem 0.8rem 0.8rem;
  color: white;
}
.login-body .login-container .login-block .login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  width: 93%;
}
.login-body .login-container .login-block .login-form #birthdate {
  width: 40%;
}
.login-body .login-container .login-block .login-form .name-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.login-body .login-container .login-block .login-form .name-input .first-name {
  width: 45%;
}
.login-body .login-container .login-block .login-form .name-input .last-name {
  width: 45%;
}
.login-body .login-container .login-block .login-form .login-input {
  border-radius: 0.3rem;
  margin-bottom: 20px;
  width: 100%;
  height: 32px;
}
.login-body .login-container .login-block .login-form .login-input input {
  border: none;
  border-bottom: 0.0625rem solid #fff;
  background-color: var(--darkblue);
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  width: 240px;
}
.login-body .login-container .login-block .login-form .login-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 40%;
  border-radius: 0.1875rem;
  text-align: center;
  background-color: #fff;
  border: 0.0625rem solid var(--darkblue);
  margin-bottom: 1rem;
}
.login-body .login-container .login-block .login-form .login-btn input {
  background: none;
  border: none;
  color: var(--darkblue);
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
