html,
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  max-width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --grey: grey;
  --darkblue: #00447c;
  --lightblue: #0075d5;
}

.website-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3.125rem 56.25rem 50rem 62.5rem 3.125rem;
  justify-content: center;
}

header {
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--grey);
}
header ion-icon {
  font-size: 1.875rem;
  color: var(--grey);
}
header .logo-container .dell-logo {
  max-width: 15.625rem;
  width: 100%;
}
header .search-icon {
  font-size: 1.25rem;
}
header .sandwich-logo {
  display: flex;
  align-items: center;
}
header .sandwich-logo img {
  margin-top: 0.3125rem;
}
header .sandwich-icon {
  font-size: 1.875rem;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}
header .input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3125rem;
  background-color: white;
  border: 1px solid var(--grey);
  border-radius: 0.1875rem;
  width: 100%;
  max-width: 32.5rem;
}
header .input-container input {
  border: none;
  width: 90%;
}
header .input-container .search-icon {
  background: white;
}
header .misc-container {
  display: flex;
  justify-content: space-between;
}
header .misc-container .icon {
  margin: 0px 0.6rem;
}
.main-container {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-container * {
  display: flex;
  justify-content: center;
}
.main-container img {
  max-width: 43.75rem;
  width: 100%;
}
.main-container .buy-btn-container {
  display: flex;
  justify-content: center;
  gap: 0.625rem;
}
.main-container .buy-btn a {
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  padding: 0.875rem 0.75rem;
  border-radius: 3px;
}
.main-container .right a {
  background-color: #fff;
  color: var(--darkblue);
  border: 2px solid var(--darkblue);
}
.main-container .left a {
  background-color: var(--darkblue);
  color: #fff;
  border: 2px solid var(--darkblue);
}
.main-container .buy-btn a:hover {
  box-shadow: 1px 2px 5px #333;
}

.banner-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-container .banner-block {
  display: flex;
  border-radius: 5px;
  background-color: var(--darkblue);
  box-shadow: 1px 2px 5px #333;
}
.banner-container img {
  max-width: 56.25rem;
  width: 100%;
}
.banner-container .about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  background-color: var(--darkblue);
}
.banner-container .about-container h3 {
  color: #fff;
  font-weight: 300;
}
.banner-container .about-container .about-btn a {
  color: var(--darkblue);
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  padding: 0.625rem 1.25rem;
  background-color: #fff;
  border-radius: 3px;
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contact-container .contact-block {
  max-width: 700px;
  width: 100%;
  background-color: var(--darkblue);
  box-shadow: 1px 2px 5px #333;
  border-radius: 5px;
}
.contact-container .contact-block fieldset {
  border: none;
}
.contact-container .contact-block .h1-container {
  margin-bottom: 1.25rem;
  width: 100%;
}
.contact-container .contact-block .h1-container h1 {
  text-align: center;
  color: #fff;
  font-weight: 300;
}
.contact-container .contact-block .block {
  margin-bottom: 1.875rem;
}
.contact-container .contact-block .file {
  color: #fff;
  display: flex;
  flex-direction: column;
}
.contact-container .contact-block .input {
  border: vertical;
  font-size: 1.25rem;
  width: 100%;
  min-height: 2.8125rem;
  height: 100%;
  box-sizing: border-box;
}
.contact-container .contact-block .message {
  resize: none;
  min-height: 6.25rem;
  font-family: sans-serif;
}
.contact-container .contact-block .name {
  min-height: 2.8125rem;
}
.contact-container .contact-block .contact-label {
  font-weight: 400;
  color: #fff;
}
.contact-container .contact-block .send-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.125rem;
  border-radius: 3px;
  text-align: center;
  background-color: #fff;
  border: 1px solid var(--darkblue);
}
.contact-container .contact-block .send-btn input {
  background: none;
  border: none;
  color: var(--darkblue);
  font-size: 1.25rem;
  font-weight: 600;
  text-decoration: none;
}

.footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--grey);
}
.footer-container h4 {
  font-weight: 300;
}

@media (max-width: 71.875rem) {
  .banner-block {
    flex-direction: column;
    padding-bottom: 2.5rem;
  }
}
@media (max-width: 65.625rem) {
  header .person-icon {
    font-size: 1.375rem;
    margin-left: 0.625rem;
    margin-right: 0.3125rem;
  }
  header .cart-icon {
    font-size: 1.375rem;
    margin-left: 0.625rem;
    margin-right: 0.3125rem;
  }
}
@media (max-width: 48.0625rem) {
  header .logo-container .dell-logo {
    max-width: 0px;
    width: 100%;
  }
  header .person-icon {
    font-size: 0.9375rem;
    margin-left: 0.625rem;
    margin-right: 0.3125rem;
  }
  header .cart-icon {
    font-size: 0.9375rem;
    margin-left: 0.625rem;
    margin-right: 0.3125rem;
  }
  .contact-container .contact-block {
    max-width: 25rem;
  }
}
@media (max-width: 34.75rem) {
  header .misc-container {
    display: flex;
    justify-content: space-between;
  }
  header .misc-container .icon {
    font-size: 1.4rem;
  }
  .banner-container {
    margin: 0.9375rem;
    text-align: center;
  }
  .contact-container {
    margin: 0.9375rem;
  }
  .contact-container .contact-block {
    padding: 0.3125rem;
    max-width: 25rem;
  }
  .contact-container .h1-container {
    justify-self: center;
  }
  .main-container {
    margin: 0.9375rem;
    text-align: center;
  }
}
@media (max-width: 28.125rem) {
  .website-container {
    grid-template-rows: 3.125rem 43.75rem 31.25rem 56.25rem 3rem;
  }
  footer {
    margin-top: 0.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
